<h2 class="{% if site.style=='dark' %}text-white{% endif %} f1-light" id="news">Updates</h2>
<div class="f4 mb-3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %} mt-2">
    <ul class="scrollable-list">
        <li>> <mark>Recent talks:</mark> My talk on <a href="https://robotutilitymodels.com" target="_blank">Robot
                Utility
                Models</a> at the MIT Embodied AI seminar is now on <a
                href="https://www.youtube.com/watch?v=KZXfQW8hU4Y" target="_blank">YouTube</a>, and all the materials
            from our <a href="https://supervised-robot-learning.github.io/" target="_blank">RSS '24 tutorial</a> on
            Supervised Policy Learning for Real
            Robot is also <a href="https://youtu.be/jIB_joS7ww8" target="_blank">available</a> (my sections: <a
                href="https://youtu.be/jIB_joS7ww8?t=3965" target="_blank">1</a>, <a
                href="https://youtu.be/jIB_joS7ww8?t=6129" target="_blank">2</a>).
        </li>
        <li>> Nov. 24: Our <a href="https://dynamem.github.io" target="_blank">DynaMem</a> won best paper award at
            the
            CoRL Lifelong Learning for Home Robots workshop 🎉 Congrats, <a href="https://peiqi-liu.github.io/"
                target="_blank">Peiqi</a>!
        <li>> Sep. 24: I will be visiting CMU, MIT, and Harvard to talk about our recent work, <a
                href="https://robotutilitymodels.com" target="_blank">Robot Utility
                Models</a>.</li>
        <li>> Aug. 24: We will be demonstrating <a href="https://robotutilitymodels.com" target="_blank">Robot Utility
                Models</a> and <a href="https://dynamem.github.io" target="_blank">DynaMem</a> live at CoRL 2024. Stop
            by if you're around!</li>
        <li>> Jul. 24: <a href="https://sjlee.cc/vq-bet/" target="_blank">VQ-BeT</a> won an Outstanding paper award at
            the ICML 2024 Multimodal Foundation Models for Embodied AI
            workshop!</li>
        <li>> Jul. 24: I presented <a href="https://ok-robot.github.io" target="_blank">OK-Robot</a> at RSS '24
            (presentation <a href="https://www.youtube.com/watch?v=Jh9ZbLRk2Dc&t=964s" target="_blank">here</a>.) Sadly,
            our robot got stuck at the customs so we had to demo virtually.</li>
    </ul>
</div>

<style>
    .scrollable-list {
        /* width: 50%; */
        /* Adjust width relative to parent/container */
        max-height: 8em;
        /* Height set to show about 4 lines, based on font size */
        overflow-y: auto;
        /* Enables scrolling when content exceeds height */
        border: 0.25px solid #ccc;
        padding: 0.25em;
        list-style-type: disc;
    }

    .scrollable-list li {
        margin-bottom: 0.25em;
        /* Optional spacing between items */
    }
</style>