<h2 class="section-heading" id="projects">Projects</h2>
<p style="opacity: 0.75; margin-bottom: 1.5rem;">Code releases from my research projects and open source projects that I've contributed to.</p>
<div class="projects-grid">
  {% if site.projects.sort_by == 'stars' %}
  {% assign sort_order = 'stargazers_count', 'last' %}
  {% else %}
  {% assign sort_order = 'pushed_at' %}
  {% endif %}

  {% if site.projects.exclude.archived && site.projects.exclude.forks %}
  {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort:
  sort_order | reverse %}
  {% elsif site.projects.exclude.archived %}
  {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.forks %}
  {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
  {% else %}
  {% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
  {% endif %}
  {% assign all_filtered_repos = filtered_repos | concat: site.data.repos | sort: sort_order | reverse %}
  {% for repository in all_filtered_repos %}
  {% unless site.projects.exclude.projects contains repository.name %}
  {% include repo-card.html %}
  {% endunless %}
  {% endfor %}
</div>
