{% include header.html %}

{% include nav.html %}

<div class="fade-in fade-in-1">
  {% include masthead.html metadata=true %}
</div>

<div class="editorial-column fade-in fade-in-2">
  {% unless content == "" %}
  <div style="margin-bottom: 2rem;">
    {{ content }}
  </div>
  {% endunless %}

  {% include news.html %}
</div>

<div class="section-rule"></div>

<div class="research-breakout fade-in fade-in-3">
  {% include research.html %}
</div>

<div class="section-rule"></div>

<div class="editorial-column fade-in fade-in-4" id="projects">
  {% include projects.html %}
</div>

<div class="section-rule"></div>

{% unless posts_total == 0 %}
<div class="editorial-column fade-in fade-in-5">
  {% include thoughts.html %}
</div>

<div class="section-rule"></div>
{% endunless %}

{% if site.topics %}
<div class="editorial-column fade-in fade-in-6">
  {% include interests.html %}
</div>

<div class="section-rule"></div>
{% endif %}

{% if site.quotes %}
<div class="editorial-column fade-in fade-in-7">
  {% include goodreads_quotes.html %}
</div>
{% endif %}

{% include footer.html %}
